<div class="container mt-5">
  <h4>Internal Server Error - Refreshing the page will make it disappear</h4>
  <h5 class="text-danger">Error : {{error.message}}</h5>
  <p class="font-weight-bold">Note: if you are seeing this, then Angualr is probably not responsible</p>
  <p>What to do next?</p>
  <ol>
    <li>Open chrome inspector</li>
    <li>Inspect the network tab</li>
    <li>Check the failing request</li>
    <li>Examine this request URL</li>
    <li>Reporduce the error in Postman</li>
  </ol>

  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>

</div>
